<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>PPTT批批踢踢</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header><h1>PPTT批批踢踢</h1></header>
  <div id="content">
    <!-- Will be added by js. -->
    <!-- First try the layout. -->
    <div class="section">
      <div class="paragraph">
        <h2 class="text">文章標題</h2>
        <button class="show-reply">4人留言</button>
      </div>
    </div>
    <div class="section">
      <div class="paragraph">
        <div class="text">第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章第一段文章</div>
        <button class="show-reply">2人留言</button>
      </div>
      <div class="replies">
        <h3>共 2 人留言</h3>
        <button class="close-reply">X</button>
        <!-- To be added by js -->
        <div class="reply">
          <div class="author">第 1 人留言</div>
          <div class="text">第一則留言第一則留言第一則留言</div>
        </div>
        <div class="reply">
          <div class="author">第 2 人留言</div>
          <div class="text">第二則留言第二則留言第二則留言第二則留言第二則留言</div>
        </div>
        <!-- To be added by js -->
        <form class="input-reply">
          <textarea name="input-reply"></textarea>
          <button type="submit">留言</button>
        </form>
      </div>
    </div>
    <div class="section">
      <div class="paragraph">
        <div class="text">第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章第二段文章</div>
        <button class="show-reply">8人留言</button>
      </div>
    </div>
    <div class="section">
      <div class="paragraph">
        <div class="image">
          <img src="pic1.jpg" alt="a Rubik's cube">
        </div>
        <button class="show-reply">7人留言</button>
      </div>
    </div>
    <div class="section">
      <div class="paragraph">
        <div class="text">第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章第三段文章</div>
        <button class="show-reply">2人留言</button>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
